<div class="row">
    <div class="col-12 col-md-12">

        <form id="register_form">
            <ul id="progress">
                <li class="ativo">Configurações</li>
                <li>Perfis Pessoais</li>
                <li>Detalhes</li>
            </ul>
            <div id="formCad">
                <h2>Perfis Pessoais </h2>
                <h3>Algumas Configurações</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="NOME_CLIENTES" id="NOME_CLIENTES" aria-autocomplete="off" required>
                            <label for="NOME_CLIENTES" class="label-input">
                                <span class="content-input">Nome</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="RG_CLIENTES" id="RG_CLIENTES" aria-autocomplete="off" required>
                            <label for="RG_CLIENTES" class="label-input">
                                <span class="content-input">RG</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="CPF_CLIENTES" id="CPF_CLIENTES" aria-autocomplete="off" required>
                            <label for="CPF_CLIENTES" class="label-input">
                                <span class="content-input">CPF</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-12">
                        <div class=" form-group">
                            <label for="SEXO_CLIENTES">Gênero</label>
                            <select id="SEXO_CLIENTES" class="custom-select" name="">
                                    <option>Selecione uma opção</option>
                                    <option>Feminino</option>
                                    <option>Masculino</option>
                                    <option>Outros</option>
                            </select>
                        </div>
                    </div>
                </div>
                <input type="submit" name="next" class="btn btn-block next acao" value="Proximo">
            </div>

            <div id="formCad">
                <h2>Configurações da conta</h2>
                <h3>Detalhes de Contato</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="DATA_NASCIMENTO_CLIENTES" id="DATA_NASCIMENTO_CLIENTES" aria-autocomplete="off" required>
                            <label for="DATA_NASCIMENTO_CLIENTES" class="label-input">
                                <span class="content-input">Data de nascimento</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="CELULAR_CLIENTES" id="CELULAR_CLIENTES" aria-autocomplete="off" required>
                            <label for="CELULAR_CLIENTES" class="label-input">
                                <span class="content-input">Telefone (celular)</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class=" form-group form">
                            <input type="text" name="NACIONALIDADE_CLIENTES" id="NACIONALIDADE_CLIENTES" aria-autocomplete="off" required>
                            <label for="NACIONALIDADE_CLIENTES" class="label-input">
                                <span class="content-input">Nacionalidade</span>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="submit" name="prev" class="prev acao btn btn-block btn-info" value="Anterior">
                <input type="submit" name="next" class="next acao btn btn-block" value="Proximo">

            </div>
            <div id="formCad">
                <h2>Detalhes pessoais </h2>
                <h3>Informe alguns detalhes</h3>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <div class=" form-group form">
                            <input type="text" name="CEP_CLIENTES" id="CEP_CLIENTES" class="form-control" aria-autocomplete="off" required>
                            <label for="CEP_CLIENTES" class="label-input">
                                <span class="content-input">CEP</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=" form-group form">
                            <input type="text" name="CIDADE_CLIENTES" id="CIDADE_CLIENTES" class="form-control" data-cep="cidade" required>
                            <label for="CIDADE_CLIENTES" class="label-input">
                                <span class="content-input">Cidade</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class=" form-group form">
                            <input type="text" name="ESTADO_CLIENTES" id="ESTADO_CLIENTES" class="form-control" data-cep="uf" required>
                            <label for="ESTADO_CLIENTES" class="label-input">
                                <span class="content-input">Estado</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col md-12">
                        <div class=" form-group form">
                            <input type="text" name="ENDERECO_CLIENTES" id="ENDERECO_CLIENTES" class="form-control" data-cep="logradouro" required>
                            <label for="ENDERECO_CLIENTES" class="label-input">
                                <span class="content-input">Endereço</span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="NUMERO_CLIENTES" id="NUMERO_CLIENTES" class="form-control" aria-autocomplete="off" required>
                            <label for="NUMERO_CLIENTES" class="label-input">
                                <span class="content-input">Numero</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="BAIRRO_CLIENTES" id="BAIRRO_CLIENTES" class="form-control" data-cep="bairro" required>
                            <label for="BAIRRO_CLIENTES" class="label-input">
                                <span class="content-input">Bairro</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col md-12">
                        <div class=" form-group form">
                            <input type="text" name="COMPLEMENTO_CLIENTES" id="COMPLEMENTO_CLIENTES" class="form-control" aria-autocomplete="off" required>
                            <label for="COMPLEMENTO_CLIENTES" class="label-input">
                                <span class="content-input">Complemento</span>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="submit" name="prev" class="prev acao btn btn-block btn-info" value="Anterior">
                <input type="submit" name="registrar" class="registrar acao btn btn-block" value="Registrar">
            </div>

        </form>
    </div>
</div>

<script src="components/js/bootstrap.min.js"></script>
<script src="administration/form/formClientes/controller/formClient.js"></script>
<script src="controller/js/input.js"></script>

</body>

</html>