<div class="row">
    <div class="col-12 offset-md-2 col-md-8 shadow p-3 mb-5 bg-white rounder">
        <h4 class="text-danger text-center">Cadastro de produtos</h4>
        <form id="formulario" method="post" enctype="multipar/form-data" name="formulario">
            <ul id="progress">
                <li class="ativo">Informações</li>
                <li>Dados</li>
                <li>Detalhes</li>

            </ul>
            <fieldset>

                <div class="row">
                    <div class="col-12 col-md-12">
                        <h2 class="text-dark ">Informações</h2>
                        <hr class="mt-4">
                        <div class="form-group mt-4">
                            <label>Nome</label>
                            <input class="form-control" type="text" name="NOME_PRODUTOS">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label>Preço custo</label>
                            <input class="form-control" type="text" name="PRECO_CUSTO_PRODUTOS">
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label>Preço venda</label>
                            <input class="form-control" type="text" name="PRECO_VENDA_PRODUTOS">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12">
                        <div class="form-group">
                            <label>Modo De Preparo</label>
                            <textarea class="form-control textarea1" id="exampleFormControlTextarea1" rows="6" name="mododepreparo"></textarea>

                        </div>
                    </div>
                </div>
                <input type="button" name="next1" class="next acao btn btn-block btn-success" value="Proximo">
            </fieldset>
            <fieldset>
                <div class="row">
                    <h2 class="text-dark">Ingredientes </h2>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label>Quantidade:</label>
                            <input class="form-control" type="text" name="quantidade">
                        </div>
                    </div>
                    <div class="col-6 col-md-6">
                        <div class="form-group">
                            <label>Ingrediente:</label>
                            <input class="form-control" type="text" name="ingredientes">
                        </div>
                    </div>
                </div>
                <input type="button" name="prev" class="prev acao btn btn-warning" value="Anterior">
                <button class="btn btn-success btn-add">Enviar</button>

            </fieldset>
        </form>

    </div>
</div>




<script src="administration/products/controller/formulario.js"></script>