<div class="container">
    <div class="row">
        <div class="col-6 col-md-6">
            <h4>Compras</h4>
        </div>
        <div class="col-6 col-md-6">
            <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                <h5 class="text-right">
                    <i class="mdi mdi-cart-minus text-warning"> </i> <span class="badge badge-secondary">  </span> </h5>
            </a>
        </div>
    </div>



    <ul class="nav  nav-pills nav-fill mt-2">
        <li class="nav-item">
            <a class="nav-link bg-success text-light" data-toggle="tab" href="#products">
                <h5>
                    Produtos
                </h5>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link bg-warning text-light" data-toggle="tab" href="#cart">
                <h6> Carrinho <span class="badge badge-secondary">  </span> </h6>
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div id="products" class="tab-pane fade in active">

        </div>

        <div id="cart" class="tab-pane fade">
            <div id="cart" class="">
            </div>
        </div>




        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Carrinho</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                    </div>
                    <div class="modal-body">

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="client/shopping/controller/shopping.js"></script>
    <script src="client/shopping/controller/addProducts.js"></script>
    <script src="client/shopping/controller/deleteProducts.js"></script>
    <script src="client/shopping/controller/quantityProducts.js"></script>
    <script src="client/shopping/controller/listProducts.js"></script>
    <script src="client/shopping/controller/itemsProducts.js"></script>