<div class="container">
    <div class="col-12 col-md-12 mt-2 text-center">
        <div class="jumbotron-fluid">
            <h3 class="text-left">Carrinho</h3>
            <hr>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-12 col-md-8">
        <div id="cart_details">

        </div>
    </div>
    <div class="col-12 col-md-4">
        <div class="jumbotron">
            <h3>Escolha um pagamento</h3>
            <hr class="my-4">
        </div>
        <div class="row">
            <div class="col-12 col-md-6 mt-2">
                <button class="btn btn-info btn-block payment-coin">
                        <h4><i class="mdi mdi-coin"></i></h4>
                        Moeda Virtual
                    </button>
            </div>

            <div class="col-12 col-md-6 mt-2">
                <a href="client/shopping/model/order_process.php" class="btn btn-success btn-block" id="check_out_cart">
                    <h4><i class="mdi mdi-card-bulleted "></i></h4>
                    Cartão de Crédito
                </a>
            </div>
        </div>
    </div>
</div>


<script src="client/shopping/controller/unicoJs.js"></script>
<!-- <script src="components/js/bootstrap.min.js"></script>  -->
<script src="controller/js/function-menu.js"></script>