.max-width {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    padding: 10px;
}

.logo-top {
    max-width: 30px;
    width: 100%;
}

.img-thumb {
    width: 100%;
    height: 100%;
    max-height: 152px;
    filter: grayscale(0.3);
    transition: all .3s;
}

.img-thumb:hover {
    filter: grayscale(0);
    box-shadow: 0 0 10px red;
}

.jb-receita {
    background: #055e6442 !important;
}

.tb-categoria {
    background: #116f7511;
    border-radius: 8px;
}

.tr-categoria {
    background: #61898b;
    color: white;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.btn-categoriaEditar {
    background: #116e75ef;
    color: white;
}

.btn-categoriaEditar:hover {
    background: #092b2eef;
    color: white;
}

.form {
    width: 100%;
    position: relative;
    height: 50px;
    overflow: hidden;
}

.form input {
    width: 100%;
    height: 100%;
    color: #595f6e;
    padding-top: 20px;
    padding-bottom: 10px;
    border: none;
    outline: none;
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 1px solid black;
}

.form label::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.content-input {
    position: absolute;
    bottom: 1px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus+.label-input .content-input,
form input:valid+.label-input .content-input {
    transform: translateY(-150%);
    font-size: 12px;
    color: #5fa8d3;
}

.form input:focus+.label-input::after,
.form input:valid+.label-input::after {
    transform: translateX(0%);
}

#register_form {
    width: 100%;
    text-align: center;
}