RewriteEngine On
RewriteBase /

RewriteEngine On
RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} !^www\.supermercadocaravelas\.com\.br$ [NC]
RewriteRule ^((?!public/).*)$ https://www.supermercadocaravelas.com.br/public/$1 [L,R=301]

