RewriteEngine On
RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteCond %{REQUEST_URI} client/receitas/public
RewriteRule ^(.*)$ https://supermercadocaravelas.com.br/client/receitas/public/$1 [R,L]
