<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Formulario Produtos</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <style>
        .box {
            width: 800px;
            margin: 0 auto;
        }
        
        .active_tab1 {
            background-color: #fff;
            color: #333;
            font-weight: 600;
        }
        
        .inactive_tab1 {
            background-color: #f5f5f5;
            color: #333;
            cursor: not-allowed;
        }
        
        .has-error {
            border-color: #cc0000;
            background-color: #ffff99;
        }
    </style>
</head>

<body>
    <div class="container box">
        <h2 align="center">Formulario Produtos</h2><br />

        <form method="post" action="administration/form/formProdutos/model/formProducts.php" id="register_form">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active_tab1" style="border:1px solid #ccc" id="list_login_details">Login Details</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link inactive_tab1" id="list_personal_details" style="border:1px solid #ccc">Personal Details</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link inactive_tab1" id="list_contact_details" style="border:1px solid #ccc">Contact Details</a>
                </li>
            </ul>

            <div class="tab-content" style="margin-top:16px;">
                <div class="tab-pane active" id="login_details">
                    <div class="panel panel-default">
                        <div class="panel-heading">Login Details</div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>NOME_PRODUTOS</label>
                                <input type="text" name="NOME_PRODUTOS" id="NOME_PRODUTOS" class="form-control" />
                                <span id="error_NOME_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>PRECO_CUSTO_PRODUTOS</label>
                                <input type="text" name="PRECO_CUSTO_PRODUTOS" id="PRECO_CUSTO_PRODUTOS" class="form-control" />
                                <span id="error_PRECO_CUSTO_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>PRECO_VENDA_PRODUTOS</label>
                                <input type="text" name="PRECO_VENDA_PRODUTOS" id="PRECO_VENDA_PRODUTOS" class="form-control" />
                                <span id="error_PRECO_VENDA_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>PESO_PRODUTOS</label>
                                <input type="text" name="PESO_PRODUTOS" id="PESO_PRODUTOS" class="form-control" />
                                <span id="error_PESO_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>VALIDADE_PRODUTOS</label>
                                <input type="text" name="VALIDADE_PRODUTOS" id="VALIDADE_PRODUTOS" class="form-control" />
                                <span id="error_VALIDADE_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>DESCRICAO_PRODUTOS</label>
                                <input type="text" name="DESCRICAO_PRODUTOS" id="DESCRICAO_PRODUTOS" class="form-control" />
                                <span id="error_DESCRICAO_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div align="center">
                                <button type="button" name="btn_login_details" id="btn_login_details" class="btn btn-info btn-lg">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="personal_details">
                    <div class="panel panel-default">
                        <div class="panel-heading">Fill Personal Details</div>
                        <div class="panel-body">

                            <div class="conteudo">
                                <div class="form-group">
                                    <div id="fornecedores">
                                        <label>Selecione o Fornecedor:</label>
                                        <select name="ID_FORNECEDORES_PRODUTOS" id="cmbfornecedores">
                                                <option>Carregar Fornecedores</option>
                                            </select>

                                        <input type="button" value="Carregar fornecedores" id="btnfornecedores" class="botao" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div id="marca">
                                        <label>Selecione o Marca:</label>
                                        <select name="ID_MARCAS_PRODUTOS" id="cmbmarca">
                                                <option>Carregar Marca</option>
                                            </select>

                                        <input type="button" value="Carregar Marca" id="btnmarca" class="botao" />
                                    </div>
                                </div>

                                <hr />

                                <p>
                                    <span class="destaque">Mensagens:</span>
                                </p>
                                <div id="mensagem">

                                </div>
                            </div>

                            <div class="form-group">
                                <label>QR_CODE_PRODUTOS</label>
                                <input type="text" name="QR_CODE_PRODUTOS" id="QR_CODE_PRODUTOS" class="form-control" />
                                <span id="error_QR_CODE_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>ESTOQUE_PRODUTOS</label>
                                <input name="ESTOQUE_PRODUTOS" id="ESTOQUE_PRODUTOS" class="form-control"></input>
                                <span id="error_ESTOQUE_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div align="center">
                                <button type="button" name="previous_btn_personal_details" id="previous_btn_personal_details" class="btn btn-default btn-lg">Previous</button>
                                <button type="button" name="btn_personal_details" id="btn_personal_details" class="btn btn-info btn-lg">Next</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="contact_details">
                    <div class="panel panel-default">
                        <div class="panel-heading">Fill Contact Details</div>
                        <div class="panel-body">

                            <div class="form-group">
                                <label>CATEGORIAS_PRODUTOS</label>
                                <input type="text" name="CATEGORIAS_PRODUTOS" id="CATEGORIAS_PRODUTOS" class="form-control" />
                                <span id="error_CATEGORIAS_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>CORREDOR_PRODUTOS</label>
                                <input name="CORREDOR_PRODUTOS" id="CORREDOR_PRODUTOS" class="form-control"></textarea>
                                <span id="error_CORREDOR_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>PRATILEIRA_PRODUTOS</label>
                                <input type="text" name="PRATILEIRA_PRODUTOS" id="PRATILEIRA_PRODUTOS" class="form-control" />
                                <span id="error_PRATILEIRA_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>LOTE_PRODUTOS</label>
                                <input name="LOTE_PRODUTOS" id="LOTE_PRODUTOS" class="form-control"></textarea>
                                <span id="error_LOTE_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div class="form-group">
                                <label>STATUS_PRODUTOS</label>

                                <label class="radio-inline">
                                            <input type="radio" name="STATUS_PRODUTOS" id="STATUS_PRODUTOS" value="A"  checked/> Ativo
                                        </label>

                                <label class="radio-inline">
                                            <input type="radio" name="STATUS_PRODUTOS" id="STATUS_PRODUTOS" value="D"  /> Desativo
                                        </label>
                                <span id="STATUS_PRODUTOS" class="text-danger"></span>
                            </div>

                            <div align="center">
                                <button type="button" name="previous_btn_contact_details" id="previous_btn_contact_details" class="btn btn-default btn-lg">Previous</button>
                                <button type="button" name="btn_contact_details" id="btn_contact_details" class="btn btn-success btn-lg">Register</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="administration/form/formProdutos/controller/formProducts.js"></script>
</body>

</html>