<form id="register_form">
    <div class="row">
        <div class="col-12 col-md-12">
            <ul id="progress">
                <li class="ativo">Configurações</li>
                <li>Perfis Pessoais</li>
                <li>Detalhes</li>
            </ul>
            <div id="formCad">
                <h2>Perfis Pessoais </h2>
                <h3>Algumas Configurações</h3>
                <div class="row">
                    <div class="col-12 col md-6">
                        <div class=" form-group form">
                            <input type="text" name="NOME_PRODUTOS" id="NOME_PRODUTOS" aria-autocomplete="off" required>
                            <label for="NOME_PRODUTOS" class="label-input">
                            <span class="content-input">Nome</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="PRECO_CUSTO_PRODUTOS" id="PRECO_CUSTO_PRODUTOS" aria-autocomplete="off" required>
                            <label for="PRECO_CUSTO_PRODUTOS" class="label-input">
                            <span class="content-input">Preço Custo</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="PRECO_VENDA_PRODUTOS" id="PRECO_VENDA_PRODUTOS" aria-autocomplete="off" required>
                            <label for="PRECO_VENDA_PRODUTOS" class="label-input">
                            <span class="content-input">Preço Venda</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="PESO_PRODUTOS" id="PESO_PRODUTOS" aria-autocomplete="off" required>
                            <label for="PESO_PRODUTOS" class="label-input">
                            <span class="content-input">Peso (Kg)</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="VALIDADE_PRODUTOS" id="VALIDADE_PRODUTOS" aria-autocomplete="off" required>
                            <label for="VALIDADE_PRODUTOS" class="label-input">
                            <span class="content-input">Validade</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="DESCRICAO_PRODUTOS" id="DESCRICAO_PRODUTOS" aria-autocomplete="off" required>
                            <label for="DESCRICAO_PRODUTOS" class="label-input">
                                <span class="content-input">Descrição</span>
                            </label>
                        </div>
                    </div>
                </div>
                <input type="submit" name="next" class="btn btn-block btn-success next acao" value="Proximo">
            </div>
            <div id="formCad">
                <h2>Configurações da conta</h2>
                <h3>Detalhes de Contato</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div id="fornecedores">
                                <label>Selecione o Fornecedor:</label>
                                <select name="ID_FORNECEDORES_PRODUTOS" id="cmbfornecedores" class="form-control">
                                            <option>Carregar Fornecedores</option>
                                        </select>

                                <input type="button" value="Carregar fornecedores" id="btnfornecedores" class="botao btn btn-secondary mt-2 btn-block" />
                            </div>
                        </div>

                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <div id="marca">
                                <label>Selecione o Marca:</label>
                                <select name="ID_MARCAS_PRODUTOS" id="cmbmarca" class="form-control">
                                            <option>Carregar Marca</option>
                                        </select>

                                <input type="button" value="Carregar Marca" id="btnmarca" class="botao btn btn-secondary mt-2 btn-block" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-12 mt-2 mb-2">
                        <p>
                            <span class="destaque">Mensagens:</span>
                        </p>
                        <div id="mensagem">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class=" form-group form">
                                <input type="text" name="QR_CODE_PRODUTOS" id="QR_CODE_PRODUTOS" aria-autocomplete="off" required>
                                <label for="QR_CODE_PRODUTOS" class="label-input">
                                <span class="content-input">QR-code</span>
                            </label>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class=" form-group form">
                                <input type="text" name="ESTOQUE_PRODUTOS" id="ESTOQUE_PRODUTOS" aria-autocomplete="off" required>
                                <label for="ESTOQUE_PRODUTOS" class="label-input">
                                <span class="content-input">Estoque</span>
                            </label>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" name="prev" class="prev acao btn btn-block btn-warning" value="Anterior">
                <input type="submit" name="next" class="next acao btn btn-block btn-success" value="Proximo">

            </div>
            <div id="formCad">
                <h2>Detalhes pessoais </h2>
                <h3>Informe alguns detalhes</h3>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="CATEGORIAS_PRODUTOS" id="CATEGORIAS_PRODUTOS" aria-autocomplete="off" required>
                            <label for="CATEGORIAS_PRODUTOS" class="label-input">
                            <span class="content-input">Categoria</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="CORREDOR_PRODUTOS" id="CORREDOR_PRODUTOS" required>
                            <label for="CORREDOR_PRODUTOS" class="label-input">
                            <span class="content-input">Corredor</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col md-12">
                        <div class=" form-group form">
                            <input type="text" name="PRATILEIRA_PRODUTOS" id="PRATILEIRA_PRODUTOS" aria-autocomplete="off" required>
                            <label for="PRATILEIRA_PRODUTOS" class="label-input">
                            <span class="content-input">Prateleira</span>
                        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class=" form-group form">
                            <input type="text" name="LOTE_PRODUTOS" id="LOTE_PRODUTOS" aria-autocomplete="off" required>
                            <label for="LOTE_PRODUTOS" class="label-input">
                            <span class="content-input">Lote</span>
                        </label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="form-group">
                            <label>Status produtos</label>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="STATUS_PRODUTOS" id="STATUS_PRODUTOS" value="A"  checked/> Ativo
                            </label>

                            <label class="radio-inline">
                                <input type="radio" name="STATUS_PRODUTOS" id="STATUS_PRODUTOS" value="D"  /> Desativo
                            </label>
                            <span id="STATUS_PRODUTOS" class="text-danger"></span>
                        </div>

                    </div>
                </div>

                <input type="submit" name="prev" class="prev acao btn btn-block btn-warning" value="Anterior">
                <input type="submit" name="registrar" class="registrar acao btn btn-block btn-success" value="Registrar">
            </div>
        </div>
    </div>
</form>
<script src="components/js/bootstrap.min.js"></script>
<script src="administration/form/formProdutos/controller/formProducts.js"></script>
<script src="controller/js/input.js"></script>