<div class="jumbotron jb-receita mt-2">
    <div class="row">
        <div class="col-12 col-md-12">
            <h3 class="text-light text-left">Nova Receita</h3>
        </div>
    </div>
</div>
<form id="register_form">
    <div id="formCad">
        <h2> Cadastro de Receitas</h2>
        <div class="row">
            <div class="col-12 col-md-6 mt-3">
                <div class=" form-group form">
                    <input type="text" name="txtTitulo" id="txtTitulo" aria-autocomplete="off" required>
                    <label for="txtTitulo" class="label-input">
                        <span class="content-input">Título</span>
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-6 mt-3">
                <div class=" form-group form">
                    <input type="text" name="txtSlug" id="txtSlug" aria-autocomplete="off" required>
                    <label for="txtSlug" class="label-input">
                        <span class="content-input">Slug</span>
                    </label>
                </div>
            </div>
            <!--<div class="col-md-3 mt-3">
            <label for="slCategoria">Categoria</label>
            <select name="slCategoria" id="slCategoria" class="form-control">
                {% for categoria in listaCategorias %}
                <option value="{{categoria.id}}">{{categoria.titulo}}</option>
                {% endfor %}
            </select>
        </div> -->
        </div>

        <div class="row">
            <div class="col-12 col-md-6  mt-3">
                <div class=" form-group form">
                    <input type="text" name="txtLinhaFina" id="txtLinhaFina" aria-autocomplete="off" required>
                    <label for="txtLinhaFina" class="label-input">
                        <span class="content-input">Descreva a receita</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-6  mt-3">
                <div class=" form-group form">
                    <input type="text" name="txtThumb" id="txtThumb" aria-autocomplete="off" required>
                    <label for="txtThumb" class="label-input">
                        <span class="content-input">Cole o link da imagem</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 mt-3">
                <label for="txtDescricao" class="text-left">
                    Descrição
                 </label>
                <div class="form-group">
                    <textarea class="form-control" id="txtDescricao" name="txtDescricao" rows="3"></textarea>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-12">
                <input type="submit" name="registrar" value="Adicionar" class=" registrar btn btn-success ">
            </div>
        </div>
    </div>
</form>

<script src="client/receitasMVC/receita/controller/adicionar_receitas.js"></script>
<script src="public/js/summernote.js"></script>