
<h1>Alterar Receita</h1>
<a href="{{BASE}}receita/ver/{{receita.slug}}" class="btn btn-info">Ver receita</a>

<hr>
<span id="formEditar"></span>


<form action="{{BASE}}receita/alterar/{{receitaId}}" onsubmit="return validar(true);" method="post">
    <div class="row">
        <div class="col-md-5 mt-3">
            <label for="txtTitulo">Título</label>
            <input type="hidden" id="txtId" value="receitaId" />
            <input type="text" id="txtTitulo" name="txtTitulo" class="form-control" placeholder="Título aqui" value="{{receita.titulo}}" />
        </div>

        <div class="col-md-4 mt-3">
            <label for="txtSlug">Slug</label>
            <input type="text" id="txtSlug" name="txtSlug" class="form-control" placeholder="titulo-aqui" value="{{receita.slug}}" />
        </div>

        <div class="col-md-3 mt-3">
            <label for="slCategoria">Categoria</label>
            <select name="slCategoria" id="slCategoria" class="form-control receitaCate">
                
            </select>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <label for="txtLinhaFina">Linha fina</label>
            <input type="text" id="txtLinhaFina" name="txtLinhaFina" class="form-control" placeholder="Descreva a receita" minlength="10" maxlength="250" value="{{receita.linhaFina}}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <label for="txtThumb">Thumbnail</label>
            <input type="text" id="txtThumb" name="txtThumb" class="form-control" placeholder="https://mysite.com/img/img.jpg" minlength="1" maxlength="100" value="{{receita.thumb}}" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-3">
            <label for="txtDescricao">Conteúdo</label>
            <textarea id="txtDescricao" name="txtDescricao">{{receita.descricao|raw}}</textarea>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-10">
            <div id="dvAlert">
                <div class="alert alert-info">Preencha corretamente todos os campos</div>
            </div>
        </div>

        <div class="col-md-2 text-right">
            <button class="btn btn-block btn-primary btn-update"> <i class="mdi mdi-content-save"></i> Salvar </button>
        </div>
    </div>
</form>

<script src="client/receitasMVC/receita/controller/receitaCategoria.js"></script>
<script src="client/receitasMVC/receita/controller/editar_receitas.js"></script>
<script>
    $('#txtDescricao').summernote({
        placeholder: 'Hello stand alone ui',
        tabsize: 2,
        height: 120,
        toolbar: [
            ['style', ['style']],
            ['font', ['bold', 'fontname', 'fontsize', 'italic', 'underline', 'clear']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['table', ['table']],
            ['insert', ['hr', 'link', 'picture', 'video']],
            ['view', ['fullscreen', 'codeview', 'help']]
        ]
    });
</script>