<div class="jumbotron jb-receita mt-2">
    <div class="row">
        <div class="col-12 col-md-9">
            <h3 class="text-light text-left">Nova Receitas</h3>
        </div>
        <div class="col-12 col-md-3">
            <button class="btn btn-light btn-block novaReceitas"><i class="mdi mdi-plus"></i>Novo</button>
        </div>
        <hr class="mt-2">
    </div>
</div>
<form action="" method="POST">
    <div class="row">
        <div class="col-12 col-md-12">
            <label for="my-input">Selecione uma categoria</label>
            <select name="slCategoria" id="slCategoria" class="form-control receitaCate">
        
            </select>
        </div>
    </div>
</form>

<hr>

<span class="carregando">Aguarde, pesquisando...</span>
<div class="overflow-auto mt-2 tb-categoria">
    <table class="table table-borderless ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Publicado</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="public/js/controller.js "></script>
<script src="client/receitasMVC/receita/controller/receita.js "></script>
<script src="client/receitasMVC/receita/controller/receitaCategoria.js "></script>
<script src="client/receitasMVC/receita/controller/receitaPesquisaCategoria.js "></script>