<div class="jumbotron jb-receita mt-2">
    <div class="row">
        <div class="col-12 col-md-9">
            <h3 class="text-light text-left">Nova Receitas</h3>
        </div>
        <div class="col-12 col-md-3">
            <button class="btn btn-light btn-block novaReceitas"><i class="mdi mdi-plus"></i>Novo</button>
        </div>
        <hr class="mt-2">
    </div>
</div>
<form action="" method="POST">
    <div class="row">
        <div class="col-12 col-md-12">
            <label for="my-input"><strong>Escolha uma categoria</strong></label>
            <select name="slCategoria" id="slCategoria" class="form-control receitaCate">
        
            </select>
        </div>
    </div>
</form>

<hr>

<span class="carregando">Aguarde, pesquisando...</span>
<div class="overflow-auto mt-2 tb-categoria">
    <table class="table table-borderless ">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Slug</th>
                <th>Categoria</th>
                <th>Publicado</th>
                <th>Ação</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<div class="modal fade" id="modalReceita" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="public/js/controller.js "></script>
<script src="client/receitasMVC/receita/controller/receita.js "></script>
<script src="client/receitasMVC/receita/controller/receitaCategoria.js "></script>
<script src="client/receitasMVC/receita/controller/receitaPesquisaCategoria.js "></script>