<form id="register_form">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4">Marcas</h1>
        <hr class="my-4">
    </div>
    <div id="formCad">
        <div class="row">
            <div class="col-12 col-md-12">
                <div class=" form-group form">
                    <input type="text" name="NOME_MARCA" id="NOME_MARCA" aria-autocomplete="off" required>
                    <label for="NOME_MARCA" class="label-input">
                        <span class="content-input">Nome da marca</span>
                    </label>
                </div>
            </div>
            <input type="submit" name="registrar" class="registrar acao btn btn-block btn-success" value="Registrar">
        </div>
    </div>
</form>

<script src="administration/form/formMarca/controller/formBrands.js"></script>