<form method="post" action="client/customers/model/add-cliente.php" id="register_form">
    <ul id="progress">
        <li class="ativo">Configurações</li>
        <li>Perfis Pessoais</li>
        <li>Detalhes</li>
    </ul>
    <div id="formCad">
        <h2>Perfis Pessoais </h2>
        <h3>Algumas Configurações</h3>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class=" form-group form">
                    <input type="text" name="EMAIL_CLIENTES" id="EMAIL_CLIENTES" aria-autocomplete="off" required>
                    <label for="EMAIL_CLIENTES" class="label-input">
                                    <span class="content-input">Email</span>
                                </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="password" name="SENHA_USUARIOS" id="SENHA_USUARIOS" aria-autocomplete="off" required>
                    <label for="SENHA_USUARIOS" class="label-input">
                                <span class="content-input">Digite sua senha</span>
                            </label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="password" name="CSENHA_USUARIOS" id="CSENHA_USUARIOS" aria-autocomplete="off" required>
                    <label for="CSENHA_USUARIOS" class="label-input">
                                <span class="content-input">Confirmar senha</span>
                            </label>
                </div>
            </div>
        </div>
        <input type="submit" name="next" class="btn btn-block btn-success next acao" value="Proximo">
    </div>
    <div id="formCad">
        <h2>Configurações da conta</h2>
        <h3>Detalhes do usuário</h3>
        <div class="row">
            <div class="col-12 col md-12">
                <div class=" form-group form">
                    <input type="text" name="NOME_CLIENTES" id="NOME_CLIENTES" aria-autocomplete="off" required>
                    <label for="NOME_CLIENTES" class="label-input">
                        <span class="content-input">Nome</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="RG_CLIENTES" id="RG_CLIENTES" aria-autocomplete="off" required>
                    <label for="RG_CLIENTES" class="label-input">
                        <span class="content-input">RG</span>
                    </label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="CPF_CLIENTES" id="CPF_CLIENTES" aria-autocomplete="off" required>
                    <label for="CPF_CLIENTES" class="label-input">
                        <span class="content-input">CPF</span>
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="NACIONALIDADE_CLIENTES" id="NACIONALIDADE_CLIENTES" aria-autocomplete="off" required>
                    <label for="NACIONALIDADE_CLIENTES" class="label-input">
                                    <span class="content-input">Nacionalidade</span>
                                </label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="DATA_NASCIMENTO" id="DATA_NASCIMENTO" aria-autocomplete="off" required>
                    <label for="DATA_NASCIMENTO" class="label-input">
                                <span class="content-input">Data de Nascimento</span>
                            </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="CELULAR_CLIENTES" id="CELULAR_CLIENTES" aria-autocomplete="off" required>
                    <label for="CELULAR_CLIENTES" class="label-input">
                                    <span class="content-input">Celular</span>
                                </label>
                </div>
            </div>
            <div class="col-12 col-md-6 text-center">
                <div class="row">
                    <label for="">Pessoa Juridica?</label>

                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
                    <label class="form-check-label" for="inlineRadio1">Não</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                    <label class="form-check-label" for="inlineRadio2">Sim</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class=" form-group form">
                    <input type="text" name="NOME_FANTASIA_CLIENTES" id="NOME_FANTASIA_CLIENTES" aria-autocomplete="off" required>
                    <label for="NOME_FANTASIA_CLIENTES" class="label-input">
                                    <span class="content-input">Nome fantasia</span>
                                </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="password" name="RAZAO_SOCIAL_CLIENTES" id="RAZAO_SOCIAL_CLIENTES" aria-autocomplete="off" required>
                    <label for="RAZAO_SOCIAL_CLIENTES" class="label-input">
                                <span class="content-input">Razão social</span>
                            </label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="password" name="CSENHA_USUARIOS" id="CSENHA_USUARIOS" aria-autocomplete="off" required>
                    <label for="CSENHA_USUARIOS" class="label-input">
                                <span class="content-input">Confirme sua senha</span>
                            </label>
                </div>
            </div>
        </div>
        <input type="submit" name="prev" class="prev acao btn btn-block btn-warning" value="Anterior">
        <input type="submit" name="next" class="next acao btn btn-block btn-success" value="Proximo">
    </div>
    <div id="formCad">
        <h2>Detalhes pessoais </h2>
        <h3>Informe alguns detalhes</h3>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class=" form-group form">
                    <input type="text" name="CEP_CLIENTES" id="CEP_CLIENTES" aria-autocomplete="off" required>
                    <label for="CEP_CLIENTES" class="label-input">
                                <span class="content-input">CEP</span>
                            </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class=" form-group form">
                    <input type="text" name="CIDADE_CLIENTES" id="CIDADE_CLIENTES" data-cep="cidade" required>
                    <label for="CIDADE_CLIENTES" class="label-input">
                                <span class="content-input">Cidade</span>
                            </label>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div class=" form-group form">
                    <input type="text" name="ESTADO_CLIENTES" id="ESTADO_CLIENTES" class="form-control" data-cep="uf" required>
                    <label for="ESTADO_CLIENTES" class="label-input">
                                <span class="content-input">Estado</span>
                            </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col md-12">
                <div class=" form-group form">
                    <input type="text" name="ENDERECO_CLIENTES" id="ENDERECO_CLIENTES" aria-autocomplete="off" required>
                    <label for="ENDERECO_CLIENTES" class="label-input">
                                <span class="content-input">Endereço</span>
                            </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="NUMERO_CLIENTES" id="NUMERO_CLIENTES" aria-autocomplete="off" required>
                    <label for="NUMERO_CLIENTES" class="label-input">
                                <span class="content-input">Numero</span>
                            </label>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="BAIRRO_CLIENTES" id="BAIRRO_CLIENTES" aria-autocomplete="off" required>
                    <label for="BAIRRO_CLIENTES" class="label-input">
                                <span class="content-input">Bairro</span>
                            </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col md-12">
                <div class=" form-group form">
                    <input type="text" name="COMPLEMENTO_CLIENTES" id="COMPLEMENTO_CLIENTES" aria-autocomplete="off" required>
                    <label for="COMPLEMENTO_CLIENTES" class="label-input">
                                <span class="content-input">Complemento</span>
                            </label>
                </div>
            </div>
        </div>
        <input type="submit" name="prev" class="prev acao btn btn-block btn-warning" value="Anterior">
        <input type="submit" name="registrar" class="registrar acao btn btn-block btn-success" value="Registrar">
    </div>

</form>

<script src="components/js/bootstrap.min.js"></script>
<script src="client/customers/controller/fomulario-cad-user.js"></script>
<script src="controller/js/input.js"></script>