<div class="container-fuild">
    <div class="row">
        <div class=" offset-col-5 col-10 offset-md-3 col-md-6 tudo">
            <form id="formulario" method="post" enctype="multipar/form-data" name="formulario">
                <ul class="" id="progress">
                    <li class="ativo">Configurações</li>
                    <li>Perfis Pessoais</li>
                    <li>Detalhes</li>
                </ul>
                <fieldset>
                    <div class="row">
                        <h2>Perfis Pessoais </h2>
                        <h3>Algumas Configurações</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Email" name="EMAIL">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="password" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua Senha" name="SENHA">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="password" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Confirme a senha" name="CSENHA">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" name="next1" class=" btn btn-md btn-success btn-block acao" value="Proximo">
                </fieldset>

                <fieldset>
                    <div class="row">
                        <h2>Configurações da conta</h2>
                        <h3>Informações Pesoais</h3>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome" name="NOME">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CPF" name="CPF">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu RG" name="RG">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de Nascimento" name="DATA_NASCIMENTO">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group text-white">
                                <label for="">Sexo</label>
                                <select name="" class="selectsexo ">
                                        <option value="M">Masculino</option>
                                        <option value="F">Feminino</option>
                                    </select>
                            </div>
                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nacionalidade" name="NACIONALIDADE">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu telefone" name="TELEFONE">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-center">
                            <div class="form-group text-white">
                                <label for="my-input">Pessoa Juridica</label>
                                <br>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="FlgPontua" id="inlineRadio1" value="Não" checked>
                                    <label class="form-check-label" for="inlineRadio1">Não</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="FlgPontua" id="inlineRadio2" value="Sim">
                                    <label class="form-check-label" for="inlineRadio2">Sim</label>
                                </div>
                            </div>
                            <div class="camposExtras">
                                <div class="row">
                                    <div class="col-12 col-md-12">
                                        <div class="form-group">
                                            <div class="wrap-input100">
                                                <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome fantasia" name="NOME_FANTASIA">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-6">
                                        <div class="form-group">
                                            <div class="wrap-input100">
                                                <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua razão social" name="RAZAO_SOCIAL">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6  col-md-6">
                                        <div class="form-group">
                                            <div class="wrap-input100">
                                                <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CNPJ" name="CNPJ">
                                                <span class="focus-input100"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <input type="button" name="prev" class="prev acao btn btn-warning " value="Anterior">
                    <input type="button" name="next2" class="next acao btn btn-success " value="Proximo">
                </fieldset>
                <fieldset>
                    <div class="row">
                        <h2>Detalhes pessoais </h2>
                        <h3>Informe alguns detalhes</h3>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CEP" name="CEP">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu endereço" name="ENDERECO">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua cidade" name="CIDADE">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu estado" name="ESTADO">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <input type="button" name="prev" class="prev acao btn btn-warning " value="Anterior">
                    <input type="submit" name="next2" class="next acao btn btn-success " value="Finalizar">
                </fieldset>
            </form>

        </div>
    </div>
</div>