<form id="formulario" method="post" enctype="multipar/form-data" name="formulario">
    <ul class="" id="progress">
        <li class="ativo">Configurações</li>
        <li>Perfis Pessoais</li>
        <li>Detalhes</li>
    </ul>
    <fieldset>
        <div class="row">
            <h2>Perfis Pessoais </h2>
            <h3>Algumas Configurações</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu Email" name="EMAIL_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="password" class="input100" placeholder="Digite sua Senha" name="SENHA_USUARIOS">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="password" class="input100" placeholder="Confirme a senha" name="CSENHA_USUARIOS">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <input type="button" name="next1" class=" btn btn-md btn-ok btn-block acao" value="Proximo">
    </fieldset>

    <fieldset>
        <div class="row">
            <h2>Configurações da conta</h2>
            <h3>Informações Pesoais</h3>
        </div>
        <div class="row">
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu nome" name="NOME_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu CPF" name="CPF_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu RG" name="RG_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Data de Nascimento" name="DATA_NASCIMENTO">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Sexo do Usuário" name="SEXO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Nacionalidade" name="NACIONALIDADE_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu telefone" name="CELULAR_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <div class="form-group text-white">
                    <label for="my-input">Pessoa Juridica</label>
                    <br>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="FlgPontua" id="inlineRadio1" value="Não" checked>
                        <label class="form-check-label" for="inlineRadio1">Não</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="FlgPontua" id="inlineRadio2" value="Sim">
                        <label class="form-check-label" for="inlineRadio2">Sim</label>
                    </div>
                </div>
                <div class="camposExtras">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" placeholder="Digite seu nome fantasia" name="NOME_FANTASIA_CLIENTES">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" placeholder="Digite sua razão social" name="RAZAO_SOCIAL_CLIENTES">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <div class="wrap-input100">
                                    <input type="text" class="input100" placeholder="Digite seu CNPJ" name="CNPJ_CLIENTES">
                                    <span class="focus-input100"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <input type="button" name="prev" class="prev acao btn btn-anterior " value="Anterior">
        <input type="button" name="next2" class="next acao btn btn-ok " value="Proximo">
    </fieldset>
    <fieldset>
        <div class="row">
            <h2>Detalhes pessoais </h2>
            <h3>Informe alguns detalhes</h3>
        </div>

        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu CEP" name="CEP_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu endereço" name="ENDERECO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite sua cidade" name="CIDADE_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu estado" name="ESTADO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite o número" name="NUMERO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite seu bairro" name="BAIRRO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-12">
                <div class="form-group">
                    <div class="wrap-input100">
                        <input type="text" class="input100" placeholder="Digite o complemento" name="COMPLEMENTO_CLIENTES">
                        <span class="focus-input100"></span>
                    </div>
                </div>
            </div>
        </div>
        <input type="button" name="prev" class="prev acao btn btn-anterior " value="Anterior">
        <input type="submit" name="next2" class="next acao btn btn-ok " value="Finalizar">
    </fieldset>
</form>

<script src="client/customers/controller/fomulario-cad-user.js"></script>