<div class="row mt-3 text-center">
    <div class="col-12 col-md-6">
         <h5>Compras</h5>
             <div id="chart-container">
             <canvas id="graphCanvasCompras"></canvas>
         </div>
     </div>

     <div class="col-12 col-md-6">
         <h5>Moedas</h5>
             <div id="chart-container">
             <canvas id="graphCanvasMoedas"></canvas>
         </div>
     </div>
 </div>

 <script src="client/customers/controller/graficoCompra.js"></script>
 <script src="client/customers/controller/graficoMoedas.js"></script>