<div class="row">
    <div class="col-12 col-md-10">
        <ha class="text-danger"> Gerenciamento dos Dados </ha>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center" width="40%">Nome</td>
                    <td class="text-center" width="20%">RG</td>
                    <td class="text-center" width="20%">CPF</td>
                    <td class="text-center" width="20%">DATA NASCIMENTO</td>
                    <td class="text-center" width="20%">CELULAR</td>
                    <td class="text-center" width="20%">E-Mail</td>
                    <td class="text-center" width="15%">Ação</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center" width="5%">00</td>
                    <td class="text-center" width="40%">Lucas</td>
                    <td class="text-center" width="5%">159623487</td>
                    <td class="text-center" width="10%">159263487</td>
                    <td class="text-center" width="15%">
                        <button class="btn btn-outline-primary btn-sm"> <i class="mdi mdi-eye mdi-18px"></i> </button>
                        <button class="btn btn-outline-warning btn-sm"> <i class="mdi mdi-pencil mdi-18px"></i> </button>
                        <button class="btn btn-outline-danger btn-sm"> <i class="mdi mdi-delete mdi-18px"></i> </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalContato" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Título do modal</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

<script src="client/customers/controller/customerAdministration.js"></script>