<video id="preview" width="250px" height="250px"></video>

<script>
    /* leitor de QR CODE */
    let scanner = new Instascan.Scanner({
        video: document.getElementById('preview')
    });

    scanner.addListener('scan', content => {
        var resultado = content
        document.getElementById("testeQRcode").value = resultado;
    });

    Instascan.Camera.getCameras().then(cameras => {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        } else {
            console.error("Não existe câmera no dispositivo!");
        }
    });
</script>

<form name="form01" action="administration/purchaseCheck/model/processoVerificacao.php" method="POST">
    <table width="89" border="0">
        <tr>
            <td>
                <input type="text" name="qrcode" id="testeQRcode" value="" size="13" required>
                <input name="Enviar" type="submit" value="Enviar">
            </td>
        </tr>
    </table>
</form>