/* background: url('../../fundo.png') no-repeat center center; */

.tudo {
    background: rgba(0, 0, 0, 0.5);
    width: 20em;
    padding: 12px;
    border-radius: 6px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.text {
    color: aliceblue;
}

.login a {
    text-decoration: none;
    color: rgb(231, 12, 12);
}

.bton {
    color: white;
    background: rgb(37, 129, 165);
    border: none;
    border-radius: 6px;
    width: 100%;
    height: auto;
    padding: 10px;
    font-size: 15px;
}

input {
    outline: none;
    border: none;
}

input:focus::-webkit-input-placeholder {
    color: transparent;
}

input:focus:-moz-placeholder {
    color: transparent;
}

input:focus::-moz-placeholder {
    color: transparent;
}

input:focus:-ms-input-placeholder {
    color: transparent;
}

textarea:focus::-webkit-input-placeholder {
    color: transparent;
}

textarea:focus:-moz-placeholder {
    color: transparent;
}

textarea:focus::-moz-placeholder {
    color: transparent;
}

textarea:focus:-ms-input-placeholder {
    color: transparent;
}

input::-webkit-input-placeholder {
    color: #adadad;
}

input:-moz-placeholder {
    color: #adadad;
}

input::-moz-placeholder {
    color: #adadad;
}

input:-ms-input-placeholder {
    color: #adadad;
}

textarea::-webkit-input-placeholder {
    color: #adadad;
}

textarea:-moz-placeholder {
    color: #adadad;
}

textarea::-moz-placeholder {
    color: #adadad;
}

textarea:-ms-input-placeholder {
    color: #adadad;
}

.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #ffffff;
}

.label-input100 {
    font-family: Poppins-Regular;
    font-size: 14px;
    color: #333333;
    line-height: 1.5;
    padding-left: 7px;
}

.input100 {
    font-family: Poppins-Medium;
    font-size: 16px;
    color: #ffffff;
    line-height: 1.2;
    display: block;
    width: 100%;
    height: 55px;
    background: transparent;
    padding: 0 7px 0 20px;
}


/*---------------------------------------------*/

.focus-input100 {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.focus-input100::after {
    content: attr(data-symbol);
    font-family: Material-Design-Iconic-Font;
    color: #adadad;
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: calc(100% - 20px);
    bottom: 0;
    left: 0;
    padding-left: 13px;
    padding-top: 3px;
}

.focus-input100::before {
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background: #7f7f7f;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.input100:focus+.focus-input100::before {
    width: 100%;
}

.has-val.input100+.focus-input100::before {
    width: 100%;
}

.redesT {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
}

.redesF {
    font-size: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    background: rgb(3, 118, 250);
    width: 50px;
    height: 50px;
    padding: 18px;
    border-radius: 100px;
    position: relative;
    margin-left: 35px;
}

.redesG {
    font-size: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin: 5px;
    background: rgb(185, 10, 10);
    width: 50px;
    height: 50px;
    padding: 18px;
    border-radius: 100px;
    position: relative;
}

.redesF:hover {
    background: rgba(253, 254, 255, 0.301);
}

.redesG:hover {
    background: rgba(253, 254, 255, 0.301);
}

.mdi {
    color: #ffffff;
}

.login {
    padding: 10px;
    color: #ffffff;
    text-align: center;
    margin-top: 2em;
}