    /* background: url('../../fundo.png') no-repeat center center; */
    
    body {
        background: rgb(214, 213, 213);
    }
    
    hr {
        background: rgb(138, 138, 138);
    }
    
    .tudo {
        padding: 18px;
    }
    
    h2 {
        text-align: center;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        display: inline-block;
        margin: 40px 8px 10px 8px;
        color: #cccccc;
    }
    
    .inscreva:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: hsl(207, 68%, 39%);
        content: "";
        transition: width 0.2s;
    }
    
    .selectsexo {
        background: rgba(245, 222, 179, 0.103);
        border-radius: 6px;
        width: 100%;
        height: 2em;
        color: rgb(133, 133, 133);
    }
    
    .inscreva:hover {
        color: hsl(207, 68%, 39%);
    }
    
    .inscreva:hover:after {
        width: 100%;
    }
    
    .login:after {
        display: block;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 2px;
        background-color: hsl(207, 68%, 39%);
        content: "";
        transition: width 0.2s;
    }
    
    .login:hover {
        color: hsl(207, 68%, 39%);
    }
    
    .login:hover:after {
        width: 100%;
    }
    
    .btn-login {
        color: white;
        background: rgb(22, 115, 128);
        border: none;
        border-radius: 6px;
        width: 100%;
        height: auto;
        padding: 10px;
        font-size: 15px;
    }
    
    .btn-anterior {
        background: rgb(30, 108, 106);
        color: white;
    }
    
    .btn-ok {
        background: rgb(29, 111, 158);
        color: white;
    }
    
    .btn-login:hover {
        background: hsl(207, 67%, 23%);
        color: white;
    }
    
    input {
        outline: none;
        border: none;
    }
    
    input:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    input:focus:-moz-placeholder {
        color: transparent;
    }
    
    input:focus::-moz-placeholder {
        color: transparent;
    }
    
    input:focus:-ms-input-placeholder {
        color: transparent;
    }
    
    textarea:focus::-webkit-input-placeholder {
        color: transparent;
    }
    
    textarea:focus:-moz-placeholder {
        color: transparent;
    }
    
    textarea:focus::-moz-placeholder {
        color: transparent;
    }
    
    textarea:focus:-ms-input-placeholder {
        color: transparent;
    }
    
    input::-webkit-input-placeholder {
        color: #adadad;
    }
    
    input:-moz-placeholder {
        color: #adadad;
    }
    
    input::-moz-placeholder {
        color: #adadad;
    }
    
    input:-ms-input-placeholder {
        color: #adadad;
    }
    
    textarea::-webkit-input-placeholder {
        color: #adadad;
    }
    
    textarea:-moz-placeholder {
        color: #adadad;
    }
    
    textarea::-moz-placeholder {
        color: #adadad;
    }
    
    textarea:-ms-input-placeholder {
        color: #adadad;
    }
    
    .wrap-input100 {
        width: 100%;
        position: relative;
        border-bottom: 2px solid #c7c6c6;
    }
    
    .label-input100 {
        font-size: 14px;
        color: #858484;
        line-height: 1.5;
        padding-left: 7px;
    }
    
    .input100 {
        font-size: 16px;
        color: #494848;
        line-height: 1.2;
        display: block;
        width: 100%;
        height: 55px;
        background: transparent;
        padding: 0 7px 0 20px;
    }
    /*---------------------------------------------*/
    
    .focus-input100 {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        pointer-events: none;
    }
    
    .focus-input100::after {
        content: attr(data-symbol);
        font-family: Material-Design-Iconic-Font;
        color: hsl(207, 68%, 39%);
        font-size: 22px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: calc(100% - 20px);
        bottom: 0;
        left: 0;
        padding-left: 13px;
        padding-top: 3px;
    }
    
    .focus-input100::before {
        content: "";
        display: block;
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 0;
        height: 2px;
        background: hsl(207, 68%, 39%);
        -webkit-transition: all 0.4s;
        -o-transition: all 0.4s;
        -moz-transition: all 0.4s;
        transition: all 0.4s;
    }
    
    .input100:focus+.focus-input100::before {
        width: 100%;
    }
    
    .has-val.input100+.focus-input100::before {
        width: 100%;
    }
    
    .img-user {
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }
    
    h5 {
        color: white;
    }
    
    #formulario {
        margin: 10px auto;
        text-align: center;
    }
    
    #formulario h2,
    #formulario h3 {
        font: 22px "Trebuchet MS", tahoma, arial;
        color: 090;
        width: 100%;
        float: left;
        text-align: left;
        margin-bottom: 4%;
    }
    
    #formulario h2 {
        color: hsl(207, 68%, 39%);
    }
    
    #formulario h3 {
        color: hsl(207, 68%, 39%);
        font-size: 17px;
    }
    
    #formulario fieldset {
        border: 0 none;
        border-radius: 6px;
        box-shadow: 0 0 15 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
    }
    
    #formulario fieldset:not(:first-of-type) {
        display: none;
    }
    /* -------LINHA DE ETAPAS------------ */
    
    #formulario #progress {
        margin-bottom: 30px;
        overflow: hidden;
        counter-reset: step;
    }
    
    #formulario #progress li {
        list-style-type: none;
        color: rgb(139, 134, 125);
        font-weight: bold;
        text-transform: uppercase;
        font-size: 10px;
        float: left;
        width: 33.33%;
        position: relative;
    }
    
    #formulario #progress li:before {
        content: counter(step);
        counter-increment: step;
        width: 20px;
        display: block;
        line-height: 20px;
        background: rgb(69, 134, 39);
        color: #0a0a0a;
        border-radius: 10px;
        margin: 0 auto 10px auto;
    }
    
    #formulario #progress li:after {
        content: '';
        width: 100%;
        background: rgb(69, 134, 39);
        height: 2px;
        position: absolute;
        top: 9px;
        left: -50%;
        z-index: -1;
        /*  colocando na camada debaixo */
    }
    
    #formulario #progress li:first-child:after {
        content: none;
    }
    
    #formulario #progress li.ativo:before,
    #formulario #progress li.ativo:after {
        background: rgba(62, 177, 81, 0.897);
        color: white;
        text-shadow: 0 1px 0;
    }
    
    .ctr-cliente:hover {
        cursor: pointer;
    }
    
    .ladoA {
        margin-top: 2em;
        margin-bottom: 2em;
        background-image: url("../../img/fundo.png");
        box-shadow: 0 0 1em rgb(31, 29, 28);
        border-radius: 8px;
    }
    
    .ladoB {
        margin-top: 4em;
        margin-bottom: 4em;
        background: white;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        box-shadow: 0 0 1em rgb(117, 114, 96);
    }
    
    .intA {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    .carousel-inner {
        height: 100%;
    }
    
    .img-carrinho {
        margin-top: 2em;
        width: 100px;
        height: 100px;
    }
    
    .login-text {
        font-size: 2.5em;
        color: white;
    }
    
    .supermer {
        margin-bottom: 3em;
        color: white;
    }
    
    .avatar {
        height: 80px;
        width: 80px;
    }
    
    .dados-pessoais {
        padding: 10px;
        border-bottom: 1px solid rgb(101, 134, 243);
    }
    
    .enderecos {
        padding: 10px;
        border-bottom: 1px solid rgb(101, 134, 243);
    }
    
    .pagamentos {
        padding: 10px;
        border-bottom: 1px solid rgb(101, 134, 243);
    }
    
    .footer {
        position: absolute;
        bottom: 0;
    }
    
    .img-produtos {
        width: 100%;
        height: 200px;
        background-size: cover;
        background-position: center center;
    }
    
    @media (max-width: 576px) {
        .display-4 {
            font-size: 1.8rem;
        }
        body {
            background: white;
        }
        .tudo {
            background: rgba(252, 252, 252, 0.979);
            border-radius: 8px;
            box-shadow: 0 0 1em rgb(40, 46, 44);
        }
        .ladoB {
            background: none;
            box-shadow: none;
            position: absolute;
            margin-top: 14em;
        }
        .ladoC {
            height: 20em;
            background: hsl(207, 68%, 39%);
        }
        .btn-cancelar {
            font-size: 15px;
            padding: 5px;
        }
        .btn-detalhes {
            font-size: 15px;
            padding: 5px;
        }
        .btn-add {
            font-size: 15px;
            padding: 5px;
        }
    }