.recuperaSenha {
    background: transparent;
    border: none;
    color: rgb(13, 65, 58);
    border-bottom: 1px solid rgb(19, 67, 95);
    width: 100%;
}

.recuperaSenha::placeholder {
    color: rgb(101, 107, 104);
}

.recuperaSenha:focus {
    border: none;
    outline: none;
}

.acao {
    background: #139987ef;
    color: white;
}

.acao:hover {
    background: #083d31ef;
    cursor: pointer;
    color: white;
}