<div class="row mt-3">
    <div class="col-4 col-md-2">
        <button class="btn btn-primary btn-block text-center historico-compra">
            <h2> <i class="mdi mdi-account-plus"> </i> </h2>
            <p>Compra</p>
        </button>
    </div>
    <div class="col-4 col-md-2">
        <button class="btn btn-primary btn-block text-center historico-credito">
            <h2> <i class="mdi mdi-view-list"> </i> </h2>
            <p>Credito</p>
        </button>
    </div>
</div>

<script src="administration/brands/controller/administrationBrands.js"></script>