<div class="col-12 col-md-9">
    <h3 class="text-dark">Cadastro de Marcas</h3>
</div>
<form>
    <div class="row">
        <div class="col-12 col-md-12">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome" type="text" name="NOME">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-dark btn-md btn-block">Enviar</button>
</form>