<div id="conteudo" class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Histórico</h1>
        <hr class="my-4">
    </div>

    <div class="row mt-3">
        <div class="col-12 col-md-6">
            <button class="btn btn-info btn-block text-center historico-compra">
                    <h1><i class="mdi mdi-check-decagram text-light"></i></h1>
                    <h5>Ofertas do dia</h5>
                </button>
        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-info btn-block text-center historico-credito">
                    <h2> <i class="mdi mdi-view-list"> </i> </h2>
                    <p>Crédito</p>
                </button>
        </div>
    </div>
</div>
<script src="administration/historical/controller/administrationHistory.js"></script>