<div class="jumbotron jb-receita mt-2">
    <div class="col-12 col-md-12">
        <h3 class="text-light text-left">Nova Categoria</h3>
    </div>
    <hr class="mt-2">
</div>

<form id='register_form' method="post">
    <div id="formCad">
        <div class="row">
            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="txtTitulo" id="txtTitulo" aria-autocomplete="off" required>
                    <label for="txtTitulo" class="label-input">
                        <span class="content-input">Título aqui</span>
                    </label>
                </div>
            </div>

            <div class="col-12 col-md-6">
                <div class=" form-group form">
                    <input type="text" name="txtSlug" id="txtSlug" aria-autocomplete="off" required>
                    <label for="txtSlug" class="label-input">
                        <span class="content-input">Slug aqui</span>
                    </label>
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col-12 col-md-12">
                <input type="submit" name="registrar" value="Adicionar" class=" btn btn-info btn-block registrar ">
            </div>
        </div>
    </div>
</form>

<script src="client/receitasMVC/categoria/controller/adicionar_categoria.js"></script>