
<h1>Categorias</h1>
<a class="btn btn-primary novaCategoria">Nova Categoria</a>

<hr>

<div class="overflow-auto">
    <table class="table table-hover" id="table-cliente">
        <thead>
            <tr>
                <th>#ID</th>
                <th>Nome</th>
                <th>Slug</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script src="public/js/controller.js"></script>
<script src="client/receitasMVC/categoria/controller/categoria.js"></script>
<script src="client/receitasMVC/categoria/controller/editar_categoria.js"></script>
<script src="client/receitasMVC/categoria/controller/updateReceita.js"></script>


<!-- Modal -->
<div class="modal fade" id="modal-cliente" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary btn-save">Salvar</button>
          <button type="button" class="btn btn-warning btn-update">Alterar</button>
        </div>
      </div>
    </div>
  </div>
