
<h1>Editar Categoria</h1>

<hr>

<form class="form" id="form-cliente" name="form-cliente">
    <div class="row">
        <div class="col-md-6">
            <label for="txtTitulo">Título</label>
            <input type="hidden" name="txtId" id="txtId">
            <input type="text" id="txtTitulo" name="txtTitulo" class="form-control" placeholder="Título aqui" />
        </div>

        <div class="col-md-6">
            <label for="txtSlug">Slug</label>
            <input type="text" id="txtSlug" name="txtSlug" class="form-control" placeholder="titulo-aqui" />
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-md-10">
            <div id="dvAlert">
                <div class="alert alert-info">Preencha corretamente todos os campos</div>
            </div>
        </div>
    </div>
</form>

