<div class="row">
    <div class="col-12 col-md-12">
        <div class="jumbotron">
            <h3>Escolha um pagamento</h3>
            <hr class="my-4">
        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-info btn-block moeda">Moeda Virtual</button>
        </div>
        <div class="col-12 col-md-6">
            <button class="btn btn-success btn-block credito">Cartão de Crédito</button>
        </div>
    </div>
</div>

<script src="components/js/bootstrap.min.js"></script>