<div class="jumbotron mt-2">
    <h1 class="display-4">Cupom fiscal</h1>
    <hr class="my-4">
</div>

<div class="row">
    <div class="col-12 col-md-12">
        <div class="card text-center">
            <div class="card-header">
                <div class="col-12 col-md-12">
                    <h5> Supermercado Caravelas</h5>
                </div>
                <div class="col-12 col-md-12 mt-2">
                    CNPJ : 25167658200014
                </div>
                <div class="row mt-2">
                    <div class="col-6 col-md-6">
                        <small>
                            Telefone : (14) 998021256
                        </small>
                    </div>
                    <div class="col-6 col-md-6">
                        <small>
                            Endereço Rua José Miguel Pimentel, 256
                        </small>
                    </div>

                    <div class="col-6 col-md-6 ">
                        <small>
                            <div class="row">
                                Data da Compra
                            </div>
                            <div class="row">
                            12/05/2020
                            </div>
                        </small>
                    </div>
                    <div class="col-6 col-md-6">
                        <small>  
                            <div class="row">
                            Horário da Compra
                            </div>
                            <div class="row">
                            12:25:02
                            </div>
                        </small>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <h6>
                                    Arroz Bonachão 1 kg
                                </h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Quantidade</span>
                                </div>
                                <div class="row mt-1 ">
                                    <h6>
                                        1
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Preço unitário</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        25,90
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Subtotal</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        25,90
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <h6>
                                    Bolacha Passatempo
                                </h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Quantidade</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        2
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Preço unitário</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        2,50
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Subtotal</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        5,00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-12 col-md-12">
                                <h6>
                                    Feijão Carioca Irano 2kg
                                </h6>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Quantidade</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        2
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Preço unitário</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        17,50
                                    </h6>
                                </div>
                            </div>
                            <div class="col-4 col-md-4">
                                <div class="row">
                                    <span>Subtotal</span>
                                </div>
                                <div class="row mt-1">
                                    <h6>
                                        35,00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
                <hr class="mt-2">
                <div class="row text-center">
                    <div class="col-6 col-md-6">
                        <h4>
                            Total
                        </h4>
                    </div>
                    <div class="col-6 col-md-6">
                        <h4>
                            R$ 65,90
                        </h4>
                    </div>
                </div>
                <hr class="mt-2">

                <div class="row">
                    <div class="col-6 col-md-6">
                        <h5>Pagamento</h5>
                    </div>
                    <div class="col-6 col-md-6">
                        <h6>Moedas Virtuais</h6>
                    </div>
                </div>

                <div class="card-footer text-muted">
                    <div class="row">
                        <div class="col-12 col-md-12">
                            <h5>Consumidor</h5>
                        </div>
                        <div class="col-6 col-md-6">Jessica Oliveira</div>
                        <div class="col-6 col-md-6">251.525.251-85</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>