<video id="preview" width="250px" height="250px"></video>

<script>
    let scanner = new Instascan.Scanner({
        video: document.getElementById('preview')
    });

    scanner.addListener('scan', content => {
        var resultado = content
        document.getElementById("testeQRcode").value = resultado;
    });

    Instascan.Camera.getCameras().then(cameras => {
        if (cameras.length > 0) {
            scanner.start(cameras[0]);
        } else {
            console.error("Não existe câmera no dispositivo!");
        }
    });
</script>

<div class="row">
    <div class="col-12 col-md-12">
        <div class="qr-code">
            <h4 class="text-qr text-center">Leitor de Qr-Cde</h4>
            <form class="mt-3" id="form-qrcode">
                <div class=" form-group form">
                    <input type="text" name="qrcode" id="testeQRcode" aria-autocomplete="off" required>
                    <label for="testeQRcode" class="label-input">
                <span class="content-input">Qr-code</span>
            </label>
                </div>
                <input class="btn btn-block btn-info btn-adicionar mt-3" type="submit" value="Buscar">
            </form>
        </div>
    </div>

</div>

<script src="client\leitorQr\controller\qrcode.js"></script>