<div class="row">
    <div class="col-12 offset-md-2 col-md-8 shadow p-3 mb-5 bg-white rounder">
        <h4 class="text-danger text-center">Cadastro de Contato</h4>
        <form class="mt-3" id="add-credito">
            <div class="form-group">
                <label>Valor adicionar</label>
                <input class="form-control" type="text" name="VALOR_MOEDAS">
            </div>

            <button class="btn btn-outline-success btn-adicionar mt-3"> <i class="mdi mdi-content-save"></i> Adicionar</button>
            <button class="btn btn-outline-success btn-voltar mt-3"> <i class="mdi mdi-content-save"></i> Voltar</button>
        </form>
    </div>
</div>

<script src="client/credits/controller/addCredits.js"></script>