<div class="jumbotron mt-3">
    <h1 class="display-4">Adicionar crédito</h1>
    <hr class="my-4">
</div>

<div class="col-12 offset-md-2 col-md-8 shadow p-3 mb-5 bg-white rounder">
    <div class="col-12 col md-12">
        <form action="client/credits/model/order_processo.php" method="POST" id="add-credito">
            <div class=" form-group form">
                <input type="text" name="VALOR_MOEDAS" id="VALOR_MOEDAS" aria-autocomplete="off" required>
                <label for="VALOR_MOEDAS" class="label-input">
                    <span class="content-input">Adicionar valor </span>
                </label>
            </div>
            <button class="btn btn-block btn-success" type="submit">Adicionar</button>
        </form>

    </div>
</div>