<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="components/libs/MaterialDesign/css/materialdesignicons.css">
    <title>Document</title>
</head>

<body>
    <div class="row">
        <div class="col-12 offset-md-2 col-md-8 shadow p-3 mb-5 bg-white rounder">
            <h4 class="text-danger text-center">Cadastro de Contato</h4>
            <form class="mt-3" action="client/credits/model/order_processo.php" method="POST" id="add-credito">
                <div class="form-group">
                    <label>Valor adicionar</label>
                    <input class="form-control" type="text" name="VALOR_MOEDAS">
                </div>

                <input class="btn btn-outline-success btn-adicionar mt-3" type="submit" value="adicionar">
            </form>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

</body>

</html>