<div class="row">
    <div class="col-12 col-md-10">
        <h4 class="text-danger"> creditos </h4>
    </div>
</div>

<div class="row mt-3">
    <div class="col-12">
        <table class="table">
            <thead>
                <tr>
                    <td class="text-center" width="40%">Nome</td>
                    <td class="text-center" width="40%">total creditos</td>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td class="text-center" width="40%">Lucas</td>
                    <td class="text-center" width="40%">0000</td>
                </tr>
            </tbody>
        </table>

        <button class="btn btn-outline-primary btn-sm btn-add"> Adicionar Creditos </button>

    </div>
</div>


<!--<div class="row">
    <div class="col-12 col-md-10">
        <h4 class="text-danger"> Creditos </h4>
    </div>
</div>

<div class="creditos row mt-5">
    <div class="col-12 col-md-10">
        <h4> Nome </h4>
    </div>

    <div class="col-12 col-md-10">
        <h4> Valor de Credito </h4>
    </div>
</div>

<div class="row mt-5">
    <div class="col-12 col-md-10">
        <button class="btn btn-outline-primary btn-sm btn-add"> Adicionar Creditos </button>
    </div>
</div>-->


<script src="client/credits/controller/totalCredits.js"></script>
<script src="client/credits/controller/pageControl.js"></script>