<div class="container">
    <div id="display_item_ofertas" class="row">

    </div>
</div>

<!-- <div class="row">
    <div class="col-12 col-md-12 justify-content-center">
        <div class="jumbotron bg-danger mt-2">
            <h1 class="display-4 text-light">Ofertas do dia</h1>
        </div>
        <div class="offer">
            <div class="card">
                <img class="card-img-top" src="img/camil.png" alt=" Arroz Camil">
                <div class="card-body">
                    <h5 class="card-title">Arroz Camil</h5>
                    <p class="card-text">R$ 10,99</p>
                    <button class="btn btn-block btn-info">Add Carrinho</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <button class='open-walkthrough'>Start</button> -->

<!--- 
<div class="row">
    <div class="col-12 col-md-12">
        <div class='walkthrough show reveal mt-2'>
            <div class='walkthrough-body'  id="display_item_ofertas">

                <button class='prev-screen'>
                    <i class='mdi mdi-skip-previous-outline'></i>
                </button>

                <button class='next-screen'>
                    <i class='mdi mdi-skip-next'></i>
                </button>
            </div>

            <div class='walkthrough-pagination'>
                <a class='dot active'></a>
                <a class='dot'></a>
            </div>
        </div>  
    </div>
</div> -->


<script src="controller/js/function-menu.js"></script>
<script src="controller/js/cards.js"></script>


<script src="client/shopping/controller/unicoJs.js"></script>