<!-- <div class="row">
    <div class="col-12 col-md-12 justify-content-center">
        <div class="jumbotron bg-danger mt-2">
            <h1 class="display-4 text-light">Ofertas do dia</h1>
        </div>
        <div class="offer">
            <div class="card">
                <img class="card-img-top" src="img/camil.png" alt=" Arroz Camil">
                <div class="card-body">
                    <h5 class="card-title">Arroz Camil</h5>
                    <p class="card-text">R$ 10,99</p>
                    <button class="btn btn-block btn-info">Add Carrinho</button>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <button class='open-walkthrough'>Start</button> -->
<div class="row">
    <div class="col-12 col-md-12">
        <div class='walkthrough show reveal mt-2'>
            <div class='walkthrough-body'>
                <ul class='screens animate'>
                    <li class='screen active'>
                        <div class="col-12 col-md-12">
                            <div class="card1">
                                <img class="img-fluid img-card1" src="img/camil.png" alt=" Arroz Camil">
                            </div>
                            <h3 class="mt-4 text-light text-product">
                                Arroz Camil
                            </h3>
                            <h5 class="mt-4 text-light text-price">R$ 12,00</h5>
                            <button class="btn btn-block mt-4 btn-offer">Adicionar ao carrinho</button>
                        </div>
                    </li>
                    <li class='screen'>
                        <div class="col-12 col-md-12">
                            <div class="card1">
                                <img class="img-fluid img-card1" src="img/passatempo.png" alt=" Biscoito Passatempo">
                            </div>
                            <h3 class="mt-4 text-light text-product">
                                Biscoito Passatempo </h3>
                            <h5 class="mt-4 text-light text-price">R$ 2,49</h5>
                            <button class="btn btn-block mt-4 btn-offer">Adicionar ao carrinho</button>
                        </div>
                    </li>
                    <li class='screen'>
                        <div class="col-12 col-md-12">
                            <div class="card1">
                                <img class="img-fluid img-card1" src="img/caixa.png" alt=" Caixa de bombom Nestlé">
                            </div>
                            <h3 class="mt-4 text-light text-product">
                                Caixa de bombom Nestlé </h3>
                            <h5 class="mt-4 text-light text-price">R$ 9,49</h5>
                            <button class="btn btn-block mt-4 btn-offer">Adicionar ao carrinho</button>
                        </div>
                    </li>
                    <li class='screen'>
                        <div class="col-12 col-md-12">
                            <div class="card1">
                                <img class="img-fluid img-card1" src="img/acucar.png" alt=" Açúcar caravelas">
                            </div>
                            <h3 class="mt-4 text-light text-product">
                                Açúcar caravelas </h3>
                            <h5 class="mt-4 text-light text-price">R$ 1,49</h5>
                            <button class="btn btn-block mt-4 btn-offer">Adicionar ao carrinho</button>
                        </div>
                    </li>
                    <li class='screen'>
                        <div class="col-12 col-md-12">
                            <div class="card1">
                                <img class="img-fluid img-card1" src="img/leitecondensado.png" alt="Leite condensado Moça">
                            </div>
                            <h3 class="mt-4 text-light text-product">
                                Leite condensado Moça</h3>
                            <h5 class="mt-4 text-light text-price">R$ 4,49</h5>
                            <button class="btn btn-block mt-4 btn-offer">Adicionar ao carrinho</button>
                        </div>
                    </li>
                </ul>
                <button class='prev-screen'>
              <i class='mdi mdi-skip-previous-outline'></i>
            </button>
                <button class='next-screen'>
              <i class='mdi mdi-skip-next'></i>
            </button>
            </div>
            <div class='walkthrough-pagination'>
                <a class='dot active'></a>
                <a class='dot'></a>
                <a class='dot'></a>
                <a class='dot'></a>
                <a class='dot'></a>
            </div>
            <!-- <div class='walkthrough-footer'>
                <button class='button next-screen'>Next</button>
                <button class='button finish close' disabled='true'>Finish</button>
            </div> -->
        </div>

    </div>
</div>



<script src="controller/js/function-menu.js"></script>
<script src="controller/js/cards.js"></script>