<div class="col-12 col-md-9">
    <h3 class="text-dark">Cadastro de Fornecedores</h3>
</div>
<form>
    <div class="row">
        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome" type="text" name="NOME">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CPF" type="text" name="CPF" maxlength="13" name="cpf">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu RG" type="text" name="RG">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>

        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu nome fantasia" type="text" name="NOME_FANTASIA">
                    <span class="focus-input100"></span>
                </div>
            </div>

        </div>
        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua razão social" type="text" name="RAZAO_SOCIAL">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu CNPJ" type="text" name="CNPJ">
                    <span class="focus-input100"></span>
                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-6 col-md-3">
            <div class="wrap-input100">
                <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Data de nascimento" type="text" name="DATA_NASCIMENTO">
                <span class="focus-input100"></span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group text-white">
                <label for="">Sexo</label>
                <select name="" class="selectsexo ">
                <option value="M">Masculino</option>
                <option value="F">Feminino</option>
            </select>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua Nacionalidade" type="text" name="NACIONALIDADE">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu cep" type="text" name="CEP">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="row">
        <div class="col-6 col-md-3">
            <div class="wrap-input100">
                <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Endereço" type="text" name="ENDERECO">
                <span class="focus-input100"></span>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite sua cidade" type="text" name="CIDADE">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu Estado" type="text" name="ESTADO">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu bairro" type="text" name="BAIRRO">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu telefone" type="text" name="TELEFONE">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <div class="wrap-input100">
                    <input type="text" class="input100" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Digite seu E-MAIL" name="EMAIL">
                    <span class="focus-input100"></span>
                </div>
            </div>
        </div>
    </div>


    </div>
    <button class="btn btn-dark btn-md btn-block">Enviar</button>
</form>